body {
    text-align: center;
    background-color: azure;
}

.container {
    text-align: center;
}

#mycarousel {
    background-color: red;
}

#mycarousel img {
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p {
    margin-bottom: 15px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
}

#apps {
    width: 100%;
    height: 800px;
    background-color: aqua;
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}

#games {
    width: 100%;
    height: 800px;
    background-color: darksalmon;
}

img {
    width: 400px;
    height: 400px;
    transition: transform .2s;
}

img:hover {
    transform: scale(0.9);
}

#chatbot {
    width: 100%;
    height: 800px;
    background-color: pink;
}

#head {
    font-family: 'Grandstander', cursive;
    color: deeppink;
    font-size: 45px;
    background-color: aquamarine;
}

h1 {
    font-size: 30px;
    color: darkblue;
}
